@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false; }

@keyframes initText {
  0% {
    content: "Initializing system . . ."; }
  17% {
    content: "Initializing system . . . \00000a Loading core modules . . ."; }
  27% {
    content: "Initializing system . . . \00000a Loading core modules . . . \00000a Verifying user permissions . . . "; }
  36% {
    content: "Initializing system . . . \00000a Loading core modules . . . \00000a Verifying user permissions . . . \00000a Compiling source code . . . "; }
  42% {
    content: "Initializing system . . . \00000a Loading core modules . . . \00000a Verifying user permissions . . . \00000a Compiling source code . . . \00000a Running diagnostics . . ."; }
  49% {
    content: "Loading core modules . . . \00000a Verifying user permissions . . . \00000a Compiling source code . . . \00000a Running diagnostics . . . \00000a Establishing secure connection . . ."; }
  60% {
    content: "Verifying user permissions . . . \00000a Compiling source code . . . \00000a Running diagnostics . . . \00000a Establishing secure connection . . . \00000a Scanning for vulnerabilities . . ."; }
  66% {
    content: "Compiling source code . . . \00000a Running diagnostics . . . \00000a Establishing secure connection . . . \00000a Scanning for vulnerabilities . . . \00000a Loading user interface . . . \00000a"; }
  78% {
    content: "Running diagnostics . . . \00000a Establishing secure connection . . . \00000a Scanning for vulnerabilities . . . \00000a Loading user interface . . . \00000a Executing startup procedures . . . \00000a"; }
  100% {
    content: "Establishing secure connection . . . \00000a Scanning for vulnerabilities . . . \00000a Loading user interface . . . \00000a Executing startup procedures . . . \00000a Initializing database connections . . . \00000a"; } }

@keyframes opcty {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes counting {
  0% {
    --num: 0 ; }
  60% {
    --num: 66 ; }
  100% {
    --num: 100 ; } }

@keyframes charging {
  0% {
    width: 0%; }
  60% {
    width: 66%; }
  100% {
    width: 100%; } }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.flex {
  display: flex; }

body {
  background-color: #000000;
  color: #f1f1f1;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

audio {
  display: block; }

.colors-bg {
  display: flex;
  position: absolute;
  z-index: -1;
  opacity: 0.08;
  height: 100vh;
  width: 100vw;
  background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
  background-image: repeating-linear-gradient(315deg, #00FFFF2E 92%, #073AFF00 100%), repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%), radial-gradient(99% 99% at 109% 2%, #00C9FFFF 0%, #073AFF00 100%), radial-gradient(99% 99% at 21% 78%, #00FDFE 0%, #073AFF00 100%), radial-gradient(160% 154% at 711px -303px, #2000FFFF 0%, #073AFFFF 100%); }

.container {
  display: contents;
  flex: 1;
  width: fit-content;
  overflow: visible;
  position: relative;
  z-index: 99; }

#fake-loader {
  display: none; }

#video {
  display: none;
  flex-direction: column;
  font-family: 'Orbitron'; }
  #video iframe, #video h5 {
    z-index: 99; }

#loader {
  display: flex;
  flex-direction: column;
  width: 80%;
  z-index: 99;
  animation: opcty 1s  ease-in-out; }
  #loader .loading-text {
    font-family: 'Orbitron';
    letter-spacing: 0.3rem; }
  #loader .therefore {
    font-size: 24px;
    animation: rotate 1s linear infinite;
    padding-top: 9.5px;
    height: fit; }
  #loader .loading-number {
    counter-reset: num var(--num);
    margin-left: auto;
    transition: --num 5s;
    animation: counting 5s  ease-in-out;
    font-family: 'Orbitron';
    animation-fill-mode: forwards; }
    #loader .loading-number:before {
      font-family: 'Orbitron';
      content: counter(num); }

#loading-bar-border {
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 3px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%; }
  #loading-bar-border .loading-bar {
    height: .6rem;
    margin: 1px 0px;
    background: #ffffff;
    animation: charging 5s  ease-in-out;
    animation-fill-mode: forwards; }

#warning {
  margin-top: .5rem;
  font-family: 'Orbitron';
  display: flex;
  height: 1.2rem; }
  #warning .exclamation {
    width: 1rem;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    border-radius: 3px; }

#line-cascates {
  margin-left: auto;
  display: flex;
  align-items: end;
  margin-top: 5rem; }
  #line-cascates:after {
    height: 5rem;
    font-size: 12px;
    white-space: pre;
    text-align: end;
    color: #b5b5b5;
    content: "";
    animation: initText 5s ease;
    animation-fill-mode: forwards; }

/*====================================================*/
.glitch {
  color: white;
  font-size: 8vw;
  position: relative;
  width: 300px;
  margin: 0 auto;
  font-family: 'Orbitron';
  text-align: center; }

@keyframes noise-anim {
  0% {
    clip: rect(85px, 9999px, 79px, 0); }
  5% {
    clip: rect(8px, 9999px, 98px, 0); }
  10% {
    clip: rect(12px, 9999px, 20px, 0); }
  15% {
    clip: rect(5px, 9999px, 33px, 0); }
  20% {
    clip: rect(7px, 9999px, 20px, 0); }
  25% {
    clip: rect(17px, 9999px, 1px, 0); }
  30% {
    clip: rect(58px, 9999px, 70px, 0); }
  35% {
    clip: rect(39px, 9999px, 48px, 0); }
  40% {
    clip: rect(45px, 9999px, 59px, 0); }
  45% {
    clip: rect(73px, 9999px, 30px, 0); }
  50% {
    clip: rect(93px, 9999px, 6px, 0); }
  55% {
    clip: rect(68px, 9999px, 64px, 0); }
  60% {
    clip: rect(2px, 9999px, 93px, 0); }
  65% {
    clip: rect(52px, 9999px, 7px, 0); }
  70% {
    clip: rect(16px, 9999px, 90px, 0); }
  75% {
    clip: rect(19px, 9999px, 33px, 0); }
  80% {
    clip: rect(63px, 9999px, 36px, 0); }
  85% {
    clip: rect(96px, 9999px, 8px, 0); }
  90% {
    clip: rect(75px, 9999px, 81px, 0); }
  95% {
    clip: rect(41px, 9999px, 91px, 0); }
  100% {
    clip: rect(33px, 9999px, 90px, 0); } }

.glitch:after,
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  /* Adjust this value according to your alignment needs */
  right: 0;
  /* Adjust this value according to your alignment needs */
  text-shadow: -1px 0 red, 1px 0 blue;
  /* Combine both shadows */
  top: 0;
  color: white;
  font-family: 'Orbitron';
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0); }

.glitch:after {
  left: 2px;
  /* Adjust the left offset for alignment */
  animation: noise-anim 2s infinite linear alternate-reverse; }

.glitch:before {
  right: 2px;
  /* Adjust the right offset for alignment */
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(90px, 9999px, 8px, 0); }
  5% {
    clip: rect(35px, 9999px, 34px, 0); }
  10% {
    clip: rect(65px, 9999px, 63px, 0); }
  15% {
    clip: rect(11px, 9999px, 33px, 0); }
  20% {
    clip: rect(46px, 9999px, 68px, 0); }
  25% {
    clip: rect(36px, 9999px, 46px, 0); }
  30% {
    clip: rect(9px, 9999px, 26px, 0); }
  35% {
    clip: rect(11px, 9999px, 29px, 0); }
  40% {
    clip: rect(78px, 9999px, 100px, 0); }
  45% {
    clip: rect(50px, 9999px, 13px, 0); }
  50% {
    clip: rect(52px, 9999px, 93px, 0); }
  55% {
    clip: rect(39px, 9999px, 35px, 0); }
  60% {
    clip: rect(3px, 9999px, 88px, 0); }
  65% {
    clip: rect(72px, 9999px, 100px, 0); }
  70% {
    clip: rect(19px, 9999px, 66px, 0); }
  75% {
    clip: rect(81px, 9999px, 28px, 0); }
  80% {
    clip: rect(100px, 9999px, 85px, 0); }
  85% {
    clip: rect(1px, 9999px, 80px, 0); }
  90% {
    clip: rect(47px, 9999px, 64px, 0); }
  95% {
    clip: rect(84px, 9999px, 27px, 0); }
  100% {
    clip: rect(35px, 9999px, 96px, 0); } }

@media screen and (min-width: 1200px) {
  .glitch {
    font-size: 5rem;
    /* Set font size to 22px for viewports larger than 550px */ } }

/*===========================================================*/
#loader-content {
  animation: myfadeout 0.2s ease-in-out; }

#main-content, #error {
  display: none;
  animation: myfadein 1.3s ease-in-out; }
  #main-content h2, #error h2 {
    animation: text-flicker 3s infinite; }

@media only screen and (max-width: 280px) {
  #congratulations {
    font-size: 1.5rem; } }

#entered {
  max-width: 500px !important; }

@keyframes myfadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes myfadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes text-flicker {
  0% {
    opacity: 0.1; }
  2% {
    opacity: 1; }
  8% {
    opacity: 0.1; }
  9% {
    opacity: 1; }
  12% {
    opacity: 0.1; }
  20% {
    opacity: 1; }
  25% {
    opacity: 0.3; }
  30% {
    opacity: 1; }
  70% {
    opacity: 0.7; }
  72% {
    opacity: 0.2; }
  77% {
    opacity: 0.9; }
  100% {
    opacity: 0.9; } }

/*========================================================*/
.form-cont {
  position: relative;
  max-width: 300px;
  height: fit-content;
  width: 80%;
  padding: 2rem;
  font-family: 'Orbitron';
  text-align: center;
  color: #f1f1f1;
  background-color: rgba(0, 0, 0, 0.85);
  border: solid 1px #00FDFE;
  border-radius: 10px;
  animation: textColor 10s ease infinite;
  flex-wrap: wrap; }
  .form-cont:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(1);
    -webkit-filter: blur(2vw);
    -moz-filter: blur(2vw);
    -ms-filter: blur(2vw);
    filter: blur(2vw);
    background: linear-gradient(270deg, #00FDFE, #00FDFE);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite; }

@keyframes animateGlow {
  0% {
    background-position: 50% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 50% 50%; } }

@keyframes textColor {
  0% {
    color: #ffffff; }
  50% {
    color: #b5b5b5; }
  100% {
    color: #ffffff; } }
  .form-cont form {
    font-family: 'Orbitron';
    display: flex;
    align-items: center; }
    .form-cont form input {
      background: transparent;
      border: solid 1px #f1f1f1;
      color: #f1f1f1;
      border-radius: 5px;
      font-family: inherit;
      width: 100%;
      display: flex; }
    .form-cont form input[type=submit] {
      width: fit-content;
      animation: border-flicker 5s ease infinite;
      transition: all 0.3s ease-in-out; }
      .form-cont form input[type=submit]:hover {
        background-color: #00FDFE;
        color: #000000;
        border-color: #000000;
        cursor: pointer;
        animation: none; }

.faulty-flicker {
  animation: text-flicker 1s ease infinite; }

.normal-flicker {
  animation: text-flicker 3s ease infinite; }

@keyframes border-flicker {
  0% {
    opacity: 0.1; }
  2% {
    opacity: 1; }
  4% {
    opacity: 0.1; }
  8% {
    opacity: 1; }
  70% {
    opacity: 0.7; }
  100% {
    opacity: 1; } }

/*===========================================================*/
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

canvas {
  overflow: hidden; }
